%message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.success {
  @extend %message; /*inherits properties from above*/
  background-color: green;
}

.warning {
  @extend %message;
  background-color: orange;
}

.orange {
  @extend %message;
  background-color: red;
}
